<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form handling</title>
</head>
<body>
    <h1>login</h1>
    
    <form action="/" method="POST">
        <!-- name='' is mandatory if we want to print the user entered data -->
        <input type="email", name="email", placeholder="Enter email"> 
        <br><br>
        <input type="password", name="password", placeholder="Enter password">
        <br><br>
        <input type="submit", value="Submit">
    </form>
</body>
</html>